DeathColorFilter {
  position: absolute;
  top: -100;
  left: 0;
  right: 0;
  bottom: -100;
  background-color: #8c1b1b;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  opacity: 0.1;
}