NameTag { 
	position: absolute;
	
	.playerName{
		position: absolute;
		top: -73px;
		color: white;
		background-color: black;
	}
	.healthbar{
		position: absolute;
		color: orangered;
		top: -40px;
		background-color: black;
	}
	.shieldbar{
		position: absolute;
		color: cornflowerblue;
		top: -8px;
		background-color: black;
	}
}
